<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %>
    </div>
    <div class="message-date">
    <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>

    <% message.images.each do |image| %>
    <%= image_tag image.variant(resize: '500x500'), class: 'message-image'%>
    <% end %>
 <%#= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id), method: :get%>

 <%#= link_to image.avatar, "data-lightbox" => image.avatar do %>
  <%#= image_tag image.avatar, height: '250', :style=>"width:300;"%>
  </div>
</div>
<%# message.images.each do |image| %>
<%#= link_to :"data-lightbox" => messge.images do %>
<%#= image_tag message.images, height: '250', :style=>"width:300;"%>
<%# end %>
<%# end %>